<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 錯誤頁面 </title>
    <link rel="stylesheet" type="text/css" href="css/css_selector.css" />
</head>


<body style="margin:0px; background-color:#eeeeee">

    <div class="top">
        失敗頁面
    </div>
    <div class="loginText">
        <div>{{ message }} </div><br />
        <div><a href="/">返回首頁</a> <br /></div>
    </div>
    </div>
</body>

</html>